<section class="about">
  <h1>Welcome to Fishbowl</h1>
  <p>
    This is a place for you to stay connected with your friends and loved ones despite distance. It’s a fun way to provide updates on your life every month and to hear about your friends lives. We all get busy, and this is a way to stay in touch without constantly looking at Instagram. You can have as many fishbowls as you’d like.
  </p>

  <p>
    Join a bowl, post updates, and keep conversations going with your group.
  </p>
</section>

<h2>Available Fishbowls</h2>
<div class="card">
  <ul class="fishbowls">
    <% communities.forEach(c => { %>
      <li>
        <h3><a href="/fishbowls/<%= c.slug%>"><%= c.name %></a></h3>
        <p><%= c.description %></p>
        <p><a href="/fishbowls/<%= c.slug%>/join">Join</a> • <a href="/fishbowls/<%= c.slug || c.id%>/new-post">New Monthly Update</a></p>
      </li>
    <% }) %>
  </ul>
</div>
